*{
    box-sizing: border-box;
}
/*Global started*/
ul{
    list-style: none;
    padding: 0px;
}
h5{
    font-size: 20px;
    font-weight: normal;
}
.container{
    width: 75% ;
    max-width: 1170px;
    padding: 0px;
}

body{
    margin: 0px;
}
[data-border]{
 border: solid red 1px;
}

/*Global Ended*/

/*Header started*/

/*top_navbar started*/
.top_navbar{
    background-color: #428bca;
    padding: 10px 0px;

}
.top_navbar_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
}
.top_navbar .top_navbar_wrapper:before{
    content: normal;
    justify-content: space-between;
}
.top_navbar .top_navbar_wrapper a{
    color: white;
    padding: 0px;
    margin: 0px;

}
/*top_navbar Ended*/

/*navbar started*/
.navbar{
    background-color: #05142B;
}
.navbar .container{
 display: inline;
}
.navbar_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
}
.navbar_icon a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar_list ul{
    display: flex;
    align-items: center;
    padding-top: 10px;

}
.navbar_list ul a{
    text-decoration: none;
    margin-right: 25px;
    text-transform: uppercase;
    color: white;
}

.navbar_list ul a:hover{
    color: #428bca;
}
/*navbar Ended*/

/*Header Ended*/
/*banner started*/
.banner{
    background-color: #EFEFEF;
    color: #428bca;
}
.banner_wrapper{
    padding: 30px 0px;
}
.banner_wrapper h3{
    font-size: 30px;
    text-align: left;
}
/*banner Ended*/
/*infotext started*/
.infotext_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0 20px 0;
}
.dev_image{
    margin: 0px;
}
.infotext_description{
    width: 50%;
    padding-top: 15px;;
}
.infotext_description p{
    font-size: 14px;
    padding: 10px 0;
}
/*infotext Ended*/

/*description started*/
.description_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px;
}
.sections{
    width: 31%;
}
.sections h5{
    padding: 10px 0;
    font-size: 25px;
}
.sections progress{
    width:100%;
    height:10px;
}

.sections progress[value]::-webkit-progress-bar {
    background: yellow;
    border-radius: 7px;
  }
.sections progress::-webkit-progress-value {
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
  }

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    width: 100%;
    padding: 10px 0px 10px 20px;
    border: 2px solid #F5F5F5;
    text-align: left;
    transition: 0.4s;
    margin-bottom: 5px;
  }
  
.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/*description Ended*/

/*our_team Started*/
.our_team_title{
    padding: 40px 0px 10px 0px;
}
.our_team_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px;
}
.team_member_container{
    width: 24%;
    padding: 40px 0px;
}
.member_title{
    text-align: center;
}
/*our_team Ended*/
  /*Links Satrted*/
.links{
    background-color: #EFEFEF;
}

.links_wrapper{
  
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.links_wrapper .sections{
    width: 24%;
    margin: 0;
    padding: 50px 0;
}
.links_wrapper address{
    padding: 50px 0;
    width: 24%;
    margin: 0;
}
.links_wrapper .sections ul{
    text-align: left;
    display: list-item;
    margin: 0px;
    padding: 10px;
}
.links_wrapper .sections ul li{
    margin: 0px 0px 10px -10px;
}
.links_wrapper .sections ul li a {
    color:black;
    text-transform: none;
    text-decoration: none;
    
}
/*Links Ended*/

/*Footer Satrted*/
footer{
    background-color: #111523;
    color: white;
    height: 100px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer_wrapper a{
    margin: 50px 0px 0px 0px;
}
.icons
{
    margin: 50px 40px 0px 0px;
}
.icons i{

    margin: 0px 10px 0px 0px;
}
/*Footer Ended*/