/*
Project: Jumbo
Author: Priyavardhan_rathore
1.Global
2.Body
2.1 header
   2.1.1 top_navbar
   2.1.2 navbar
2.2 banner
2.3 Infotext
2.4 Our_services
2.5 Our Organisation
2.6 Testimonials
2.7 Links
2.8 Footer 3
*/

*{
    box-sizing: border-box;
}
/*Global started*/
ul{
    list-style: none;
    padding: 0px;
}
h5{
    font-size: 20px;
    font-weight: normal;
}
.container{
    width: 75% ;
    max-width: 1170px;
    padding: 0px;
}

body{
    margin: 0px;
}
[data-border]{
 border: solid red 1px;
}

/*Global Ended*/

/*Header started*/

/*top_navbar started*/
.top_navbar{
    background-color: #428bca;
    padding: 10px 0px;

}
.top_navbar_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
}
.top_navbar .top_navbar_wrapper:before{
    content: normal;
    justify-content: space-between;
}
.top_navbar .top_navbar_wrapper a{
    color: white;
    padding: 0px;
    margin: 0px;

}
/*top_navbar Ended*/

/*navbar started*/
.navbar{
    background-color: #05142B;
}
.navbar .container{
 display: inline;
}
.navbar_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
}
.navbar_icon a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar_list ul{
    display: flex;
    align-items: center;
    padding-top: 10px;

}
.navbar_list ul a{
    text-decoration: none;
    margin-right: 25px;
    text-transform: uppercase;
    color: white;
}

.navbar_list ul a:hover{
    color: #428bca;
}
/*navbar Ended*/

/*Header Ended*/

/*Carousel started*/
.Carousel{
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.carousel-inner{
    position: relative;

}
.carousel-inner::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(46,142,218,0.8);
}
.carousel-caption{
    margin: 0px 0px 150px 0px;
    Z-INDEX: 9;
}
.carousel-caption h3{
    font-size: 80px;
    text-align: center;
    color: white;
}
.carousel-caption p{
    font-size: 30px;
    text-align: center;
    color: white;
}
/*Carousel Ended*/

/*Infotext started*/
.infotext{
 background-color:#EFEFEF;
 overflow: hidden;
} 
.infotext_wrapper{
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 60px 0;
    align-items: center;

}
.infotext_wrapper article{
 padding: 10px 20px 10px 0;
}
.infotext_wrapper article h2{
    font-size: 25px;
    margin: 0px;
    padding: 0;

}
.infotext_wrapper article p{
    margin: 0px;
    padding: 0;
    color: #777777;
}

.infotext_wrapper button {

    background-color:#2E8EDA;
    color: white;
    width: 180px;
    height: 45px;
    border: solid white 1px;  
}
/*Infotext Ended*/

/*Our services started*/

.our_services_wrapper{

    padding: 30px 0px;
}
.our_services_wrapper h2{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    margin-bottom: 0px;
}
.our_services_wrapper p{
    text-align: center;
    color: #777777;
}
.our_services_box{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 10px 10px 0 0;

}
.box{
    display: flex;
    text-align: left;
    width: 33%;
    margin-bottom: 25px;
}
.box article{
    margin: 0;
    padding: 10px 15px;
}
.box h5{
    text-align: left;
    margin: 0px;
}
.box p{
    text-align: left;
    font-size: 14px;
    margin: 5px 0px;
    color: #777777;

}
.box i{
    background-color: #2E8EDA;
    color: white;
    padding: 10px 20px;
    margin: 18px 0px;

}

/*Our services Ended*/

/*Our Organisation started*/
.our_organization{
    background-color:#EFEFEF;
    padding: 40px 0;
}

.our_organization_wrapper{
    margin: auto;
    padding: 40px 0;
}
.our_organization_wrapper h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0;
}
.our_organization_wrapper p{
    text-align: center;
    width: 56%;
    margin-left: 22%;
    color: #777777;
}
.our_organisation{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.our_organisation_content p{
    text-align: left;
    margin: 0px;
    width: 100%;
    padding: 10px;
}
.our_organisation_content ul{
    text-align: left;
    display: list-item;
    padding: 10px;
}
.our_organisation_content ul li {
    padding: 5px;
}
.our_organisation_content ul li a{
    color: #777777;
    text-transform: none;
    text-decoration: none;
    padding: 10px;
}
.our_organisation_content ul li  i:before {
    margin-left: 5px;
 
}
.our_organisation_content i{
    background-color: #EFEFEF;
    color: #314B92;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    border: 2px solid #314B92;
    align-items: center;

}
.our_organisation_content button {

    background-color:#2E8EDA;
    color: white;
    width: 110px;
    height: 45px;
    border: solid #2E8EDA 1px;  
}
.organisation_image{
    background: url(../images/organisation_image.JPG) no-repeat;
    background-size: contain;
    width: 150%;
}
/*Our Organisation Ended*/

/*Testimonials Started*/
.testimonials_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0px;
}
.sections{
    margin-top: 50px;
    width: 31%;
}

.last_section_box{
    background-color: #EFEFEF;
    color: #767676;
    position: relative;
}
.last_section_box p{
font-size: 14px;
}
.last_section_box:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 16px 16px ;
    border-style: solid;
    border-color: white #C5C5C5;
  }
.last_section_box p{

    padding:10px;
  }
.image_container{
    display: flex;
}
.member_image {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-position: center;
    background-size: contain;
    position: relative;
    overflow: hidden;
    padding: 1px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
}
.team_member {
  display: inline;
  margin: 0 auto;
  margin-left: 0px; 
  height: 100%;
  width: auto;
}
.member_title{
    margin: 60px 0px 0px 20px;
}
.member_title h1{
    color: #3994DC;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    width: 100%;
    padding: 15px 0px 15px 20px;
    border: 2px solid #F5F5F5;
    text-align: left;
    transition: 0.4s;
    margin-bottom: 5px;
  }
  
.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/*Testimonials Ended*/

/*Links Satrted*/
.links{
    background-color: #EFEFEF;
}

.links_wrapper{
  
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.links_wrapper .sections{
    width: 24%;
    margin: 0;
    padding: 50px 0;
}
.links_wrapper address{
    padding: 50px 0;
    width: 24%;
    margin: 0;
}
.links_wrapper .sections ul{
    text-align: left;
    display: list-item;
    margin: 0px;
    padding: 10px;
}
.links_wrapper .sections ul li{
    margin: 0px 0px 10px -10px;
}
.links_wrapper .sections ul li a {
    color:black;
    text-transform: none;
    text-decoration: none;
    
}
/*Links Ended*/

/*Footer Satrted*/
footer{
    background-color: #111523;
    color: white;
    height: 100px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer_wrapper a{
    margin: 50px 0px 0px 0px;
}
.icons
{
    margin: 50px 40px 0px 0px;
}
.icons i{

    margin: 0px 10px 0px 0px;
}
/*Footer Ended*/